#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#timer-1 {
  margin-right: 1em;
}
#timer-2 {
  margin-left: 1em;
}

/* Hidden unused buttons */
#btn-startstop {
  visibility: hidden;
}
#btn-startstop2 {
  visibility: hidden;
}
#btn-reset {
  visibility: hidden;
}
#btn-reset2 {
  visibility: hidden;
}
